*,
*::beafore,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.tittle {
  padding: 100px 0;
  background: #23424a;
  color: white;
}

.subtittle {
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
}

.text {
  width: 60%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 3em;
}

button {
  display: inline-block;
  border: none;
  border-radius: 100px;
  background: #38cfd9;
  font-weight: 900;
  color: #23424a;
  padding: 0.75rem 2rem;
}
