*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #222c2a;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  margin-top: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.315rem;
}

section {
  padding: 5em 0;
}

.row {
  display: flex;
}

.container {
  width: 85%;
  max-width: 1128px;
  margin: 0 auto;
}

.tittle {
  color: #f3eed9;
  font-size: 2.25rem;
}

.tittle--dark {
  color: #824936;
}

.intro {
  background: #f3eed9;
  text-align: center;
  color: #824936;
  min-height: 660px;
  display: flex;
  align-items: center;
}

.intro_text {
  letter-spacing: 8px;
  margin: 0 0 0.25em;
  font-size: 1.125rem;
}

.intro_tittle {
  font-size: 3.75rem;
}

.primary-text {
  background: #fff;
  text-align: center;
}

.col {
  text-align: left;
  width: 100%;
}

.col + .col {
  margin-left: 20px;
}

.secondary-text {
  color: white;
}

.last-text {
  background: #824936;
  color: #fff;
}

.last-text .col,
.secondary-text .col {
  width: 50%;
}

.last-text .col {
  text-align: left;
}

@media (min-width: 800px) {
  .row {
    display: flex;
  }

  .col {
    width: 100%;
  }

  .col + .col {
    margin-left: 5em;
  }

  .intro_tittle {
    font-size: 4rem;
  }
}
